* {
  font-family: "Roboto Mono", monospace;
  color: rgba(168, 163, 163, 0.822);
}

.hidden {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
}
.weather-part {
  font-size: 12px;
}
.clock-part {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#clock {
  color: gold;
}

.login-name {
  font-size: 30px;
  text-align: center;
}

#login-form input {
  border: none;
  width: 500px;
  margin-top: 10px;
  border-bottom: 2px gold solid;
  font-size: 20px;
}

input:focus {
  outline: none;
}

.login-part {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.todolist-part {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todolist-question {
  text-align: center;
}

.todolist-part {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#todo-form input {
  border: none;
  width: 500px;
  border-bottom: 2px solid gold;
}

input::placeholder {
  text-align: center;
}
.quotes-part {
  font-size: 12px;
  width: 33%;
}

li::before {
  font-family: "FontAwesome";
  content: "\f14a";
  margin-right: 5px;
}

ul li {
  list-style-type: none;
}

li::after {
  font-family: "FontAwesome";
  content: "\f2ed";
}
